# Database connection URL
# For running app locally via IDE use localhost:5433
# For running app via Docker use postgres:5432
DATABASE_URL=jdbc:postgresql://localhost:5433/insurahub
DATABASE_USERNAME=insurahub_user
DATABASE_PASSWORD=insurahub_password

# PostgreSQL Docker configuration
POSTGRES_DB=insurahub
POSTGRES_USER=insurahub_user
POSTGRES_PASSWORD=insurahub_password

# Auth0 Resource Server configuration
AUTH0_ISSUER_URI=[The Auth0 issuer URI, including the trailing slash]
AUTH0_AUDIENCE=[The identifier of the Auth0 API]
AUTH0_JWK_SET_URI=[The Auth0 JSON Web Key Set URI]

# Auth0 Management API configuration
AUTH0_DOMAIN=[The Auth0 domain without the protocol]
AUTH0_M2M_CLIENT_ID=[The client ID of the Auth0 M2M application]
AUTH0_M2M_CLIENT_SECRET=[The client secret of the Auth0 M2M application]
AUTH0_CONNECTION_NAME=[The name of the Auth0 database connection]

# Auth0 role IDs
AUTH0_CONSUMER_ROLE=[The ID of the CONSUMER role in Auth0]
AUTH0_ADMIN_ROLE=[The ID of the ADMIN role in Auth0]

# Scalar configuration
SCALAR_CLIENT_ID=[The client ID of the Auth0 Single Page application]
SCALAR_TOKEN_URL=https://[The Auth0 domain]/oauth/token

#Email configuration
MAIL_HOST=[The DNS name of the email server. For local testing with Mailpit, use localhost]
MAIL_PORT=[The port of the email server. For mailpit, use 1025]
MAIL_USERNAME=[The username used for authentication with email server]
MAIL_PASSWORD=[The password used for authentication with email server]
MAIL_SENDER=[The sender email address for email notifications]
MAIL_STARTTLS_ENABLED=[true for production, false for Mailpit]
MAIL_STARTTLS_REQUIRED=[true for production, false for Mailpit]
